# Node.js dependencies
node_modules/

# Logs
*.log
logs/

# Runtime data
*.pid
*.pid.lock

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Build files
dist/

# Coverage reports
coverage/
